* {
    margin: auto;
    width: 94%;
    font-family: arial;
}

h1 {
    padding: 5px;
    margin: 10px;
    outline: solid 1px #C9BE28;
    background-color: gray;
    color: black;
}

p {
    padding: 5px;
    margin: 10px;
    outline: solid 1px #C9BE28;
    background-color: lightgray;
    color: black;
}

#display {
    padding: 10px;
    margin: 10px;
    outline: solid 1px #C9BE28;
    background-color: #FCF261;
    color: black;
}
    span {
        font-weight: bold;
    }

/* Responsive stuff for final block */
.phone_only {
    display: none; 
}
.tablet_only {
    display: none; 
}
.desktop_only {
    display: none; 
}


@media screen and (max-width: 480px) {
    .phone_only {
        display: inline-block; 
    }
    .tablet_only {
        display: none; 
    }
    .desktop_only {
        display: none; 
    }
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
    .tablet_only {
        display: inline-block; 
    }
    .phone_only {
        display: none; 
    }
    .desktop_only {
        display: none; 
    }
}

@media screen and (min-width: 1024px) {
    .desktop_only {
        display: inline-block; 
    }
    .phone_only {
        display: none; 
    }
    .tablet_only {
        display: none; 
    }
}